$color-primary: #EB4570;
$color-extra-light-grey: #d1d2d4;
$color-light-grey: #72747B;
$color-mid-grey: #24272E;
$color-dark-grey: #1D2026;
$color-white: #fff;

$color-orange: #f97785;
$color-green: #45b7c3;
$color-blue: #92b2e9;

$color-blue: #92b2e9;
$navbar-width: 80px;