$color-primary: #54569f;
$color-light-grey: #282B32;
$color-mid-grey: #24272E;
$color-dark-grey: #1D2026;
$color-white: #fff;

$color-orange-red: #f97785;
$color-green: #45b7c3;
$color-blue: #92b2e9;

$color-blue: #92b2e9;
$navbar-width: 80px;