extends layout

include mixins/_postCard

block content     
    .home__wrapper 
        .home__profile.profile-bar
            if(user)
                .profile-bar__avatar.avatar(style=`background-image: url('uploads/${user.photo}');`)
                .profile-bar__top
                    h4!= user.username
                .profile-bar__bottom

        .home__posts
            if user
                each post in posts
                    +postCard(post)
    