extends layout

include mixins/_postCard
include mixins/_userCard

block content
    if user
        .home__wrapper
            .home__profile-wrapper
                .home__profile.user-card
                    +userCard(posts, displayUserButtons, null)

            .profile__user-content
                .profile__posts-wrapper
                    each post in posts
                        a.home__post-link(href="a")
                            +postCard(post, null)

        
    