extends layout

include mixins/_postCard

block content     
    .home__wrapper
        .home__profile-wrapper
            .home__profile.user-card
                if(user)
                    .user-card__content
                        .user-card-avatar__wrapper 
                            .user-card__avatar.avatar(style=`background-image: url('uploads/${user.photo}');`)
                        h1= user.name
                        p Better be good

        .home__user-content
            .home__posts-wrapper
                if user
                    each post in posts
                        +postCard(post)
            .home__tracking-results.tracking-results
                .tracking-results__card
                .tracking-results__card
                    svg.tracking-results__arc

        
    