doctype html 
html
    head
        title= title
        link(rel="stylesheet", href="/dist/style.bundle.css")
    
    body
        .messages 
            if locals.messages
                - const categories = Object.keys(messages)
                each category in categories 
                    each type in Object.keys(messages)
                        each message in messages[type]
                            .flash(class=`flash_${category}`) 
                                p= message
                                button(onClick="this.parentElement.remove()") &times;

        block content