extends layout

include mixins/_loginForm

block content
    h2(style="margin: 0 auto 30px auto; text-align:center; font-size: 2.5em;")= title
    +loginForm()
    p(style="margin: 30px auto; text-align:center; font-size: 1.4em;")
        span Don't have an account yet? 
        a(href="/register") sign up here