extends layout

include mixins/_postCard
include mixins/_userCard

block content
    .home__wrapper
        .home__profile-wrapper
            .home__profile.user-card
                +userCard(user)

        .home__user-content
            .home__posts-wrapper
                if user
                    each post in posts
                        a.home__post-link(href="a")
                            +postCard(post)

            .home__tracking-results.tracking-results(
                data-index=user.index
            )
                .tracking-results__card
                    h1 Tracking results
                    .tracking-results__lines
                .tracking-results__card
                    h1 Tracking results
                    svg.tracking-results__arc

    
