mixin loginForm()
    .form__wrapper 
        form(action="/login" method="POST").form
            label(for="email") Email Address
            input(type="email" name="email")
            label(for="password") Password
            input(type="password" name="password")
            button(type="submit" value="Log in") Log in
