.post-card {
    width: 100%;
    background-color: $color-dark-grey;
    margin-bottom: 40px;
    padding: 0 40px 0 0;
    color: #fff;
    position: relative;
    display: flex;
    box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.21);
    transition: all .1s ease-in-out;
    &:after {
        content: "";
        width: 1px;
        height: 39px;
        background-color: $color-primary;
        position: absolute;
        bottom: -3.9em;
        left: 50%;
    }
    &:hover {
        box-shadow: 0px 2px 26px -2px rgba(0,0,0,0.30);
        transform: scale(1.01);
    }
    .post-card__image-wrapper {
        .avatar {
            width: 10em;
            height: 100%;
            border-radius: 0;
        }
    }
    .post-card__content-wrapper {
        margin-left: 4em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        h1 {
            margin: 40px 0 15px 0;
            font-size: 1.5rem;
        }
        p {
            line-height: 15px;
            font-size: 1.1rem;
        }
        .post-card__details {
            margin: 30px 0 40px 0;
            display: flex;
            width: 90%;
            justify-content: space-between;
            p {
                text-transform: uppercase;
                color: #2F323A;
                font-weight: 600;
            }
        }
    }
}

.user-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .user-card__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
        h1 {
            margin-top: 1.9em;
        }
        .user-card-avatar__wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 3.5em;
            .user-card__avatar {
                margin-top: -5em;
                width: 100px;
                height: 100px;
                position: absolute;
                border: 3px solid $color-primary;
            }
        }
    }
    .user-card__stats {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        .stats-wrapper {
            margin: 0 4.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: .9em 0;
            h2 {
                font-size: 1.9rem;
            }
            p {
                margin: .2em 0;
            }
        }
    }
    .user-card-btn__wrapper-squared {
        width: 70%;
        display: flex;
        margin: 2em 0;
        justify-content: center;
    }

    .user-card-btn__wrapper-rounded {
        margin-top: 1.4em;
        svg {
            width: .7em;
            fill: $color-light-grey;
        }
    }
}