.post-card {
    width: 100%;
    background-color: $color-dark-grey;
    margin-bottom: 40px;
    padding: 40px;
    color: #fff;
    position: relative;
    &:after {
        content: "";
        width: 1px;
        height: 39px;
        background-color: $color-primary;
        position: absolute;
        bottom: -3.9em;
        left: 50%;
    }
    &:last-child {
        &:after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: $color-primary;
            border-radius: 100%;
        }
    }
    .avatar {
        width: 40px;
        height: 100px;
        border-radius: 0;
    }
    h1 {
        margin-bottom: 15px;
    }
    p {
        line-height: 15px;
        font-size: 1.1rem;
    }
    .post-card__details {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        p {
            text-transform: uppercase;
            color: $color-light-grey;
            font-weight: 600;
        }
    }
}

.user-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .user-card__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
        h1 {
            margin-top: 1.9em;
        }
        .user-card-avatar__wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 3.5em;
            .user-card__avatar {
                margin-top: -5em;
                width: 100px;
                height: 100px;
                position: absolute;
                border: 3px solid $color-primary;
            }
        }
    }
    .user-card__stats {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        .stats-wrapper {
            margin: 0 4.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: .9em 0;
            h2 {
                font-size: 1.9rem;
            }
            p {
                margin: .2em 0;
            }
        }
    }
    .user-card-btn__wrapper-squared {
        width: 70%;
        display: flex;
        margin: 2em 0;
        justify-content: space-between;
    }

    .user-card-btn__wrapper-rounded {
        margin-top: 1.4em;
        svg {
            width: .7em;
            fill: $color-light-grey;
        }
    }
}