body {
  background: #55579f;
  background-image: url("/images/background-human.png");
  background-size: 100% 80vh;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  .home__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background: red;
    div {
      align-self: center;
    }
    .home__profile {
      width: 30%;
      background: green;
    }
    .home__user-content {
      background: blue;
      display: flex;
      margin-top: 3em;
      .home__posts-wrapper {
        background: pink;
        flex: 1;
        padding: 2em;
      }
      .tracking-results {
        background: yellow;
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &:first-child {
            margin-top: 0;
        }
        .tracking-results__card {
          width: 90%;
          height: 25rem;
          margin: 2em 0;
          background: pink;
        }
      }
    }
  }
}
