html {
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
}

body {
    background: #282b32;
    background-size: 100% 80vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    .border {
        height: 3px;
        border: 0;
        background-color: $color-orange; //fallback
        background-image: linear-gradient(rgb(235, 69, 112), rgb(155, 72, 153));
        background-size: 50%;
    }

    .home__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        .home__profile-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-mid-grey;
            padding-bottom: 4em;
        }
        .home__user-content {
            display: flex;
            margin-top: 3em;
            justify-content: flex-start;
            .home__posts-wrapper {
                flex: 1;
                padding: 0 20px 0 0;
            }
            .tracking-results {
                background: $color-dark-grey;
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 0 2em 2em 2em;
                .tracking-results__card {
                    width: 100%;
                    height: 25rem;
                    margin-top: 2em;
                    .tracking-results__arc {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}
